.form-control-lg {
    font-size: 1rem;
}

.gradient-custom {
    background:
        linear-gradient(rgba(66, 66, 66, 0.7),
            rgba(0, 0, 0, 0.7)),
        url('src/assets/ProductBG.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
}

.card-registration .select-arrow {
    top: 13px;
}

.extra-styles {
    font-size: 1.1rem;
}

.px-4 {

    padding-right: 5rem !important;
    padding-left: 5rem !important;
}

.invalid-feedback {
    display: block;
}

.product-image {
    max-width: 200px;
    height: 150px;
    object-fit: cover;
    border-radius: 0.375rem;
}



.image-placeholder p {
    margin: 0;
    font-size: 14px;
    color: #888;
}

.image-placeholder:hover {
    background-color: #e9ecef;
    cursor: pointer;
}

.image-placeholder.with-image {
    background-image: url('src/assets/placeholder.jpg');
    background-size: cover;
    background-position: center;
}

.image-placeholder {
    position: relative;
    width: 200px;
    height: 150px;
    border: 2px dashed #ccc;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #f8f9fa;
}

.image-placeholder label {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #007bff;
    font-size: 16px;
    cursor: pointer;
}

.image-placeholder label .upload-text {
    margin: 0;
}

.image-placeholder input[type="file"] {
    display: none;
}