.gradient-custom {
    background:
        linear-gradient(rgba(66, 66, 66, 0.7),
            rgba(0, 0, 0, 0.7)),
        url('src/assets/storageImg.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


button {
    width: 90%;
}

.invalid-feedback {
    display: block;
}