<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-white text-dark position-relative" style="border-radius: 1rem;">
          <!-- Language Selection Dropdown positioned top-right -->
          <div class="position-absolute top-0 end-0 m-3">
            <select class="form-select form-select-sm" (change)="changeLanguage()" #language>
              <option selected disabled>{{'Login.language' | translate}}</option>
              <option value="en">{{'Login.english' | translate}}</option>
              <option value="ar">{{'Login.arabic' | translate}}</option>
            </select>
          </div>

          <div class="card-body p-5 text-center">
            <form [formGroup]="form">
              <div class="mb-md-5 mt-md-4 pb-5">
                <h2 class="fw-bold mb-2 text-uppercase">{{'Login.login' | translate}}</h2>
                <p class="text-dark mb-5">{{'Login.request' | translate}}</p>

                <!-- Username Field -->
                <div class="row mb-4">
                  <label class="col-3 col-form-label text-start text-dark fw-bold">{{'Login.username' | translate}}</label>
                  <div class="col-9">
                    <input
                      type="text"
                      class="form-control form-control-lg"
                      [placeholder]="'Login.username' | translate"
                      formControlName="txtUserName"
                      [ngClass]="{
                        'is-invalid': form.controls['txtUserName'].touched &&
                        form.controls['txtUserName'].hasError('required')
                      }"
                    />
                    <div
                      class="invalid-feedback"
                      *ngIf="form.controls['txtUserName'].touched &&
                      form.controls['txtUserName'].hasError('required')"
                    >
                      {{'Login.usernameValidation' | translate}}
                    </div>
                  </div>
                </div>

                <!-- Password Field -->
                <div class="row mb-4">
                  <label class="col-3 col-form-label text-start text-dark fw-bold">{{'Login.password' | translate}}</label>
                  <div class="col-9">
                    <input
                      type="password"
                      formControlName="txtPassword"
                      class="form-control form-control-lg"
                      [placeholder]="'Login.password' | translate"
                      [ngClass]="{
                        'is-invalid': form.controls['txtPassword'].touched &&
                        form.controls['txtPassword'].hasError('required')
                      }"
                    />
                    <div
                      class="invalid-feedback"
                      *ngIf="form.controls['txtPassword'].touched &&
                      form.controls['txtPassword'].hasError('required')"
                    >
                      {{'Login.passwordValidation' | translate}}
                    </div>
                  </div>
                </div>

                <!-- Submit Button -->
                <button class="btn btn-dark btn-lg px-5 mt-5" type="submit" (click)="login()">{{'Login.login' | translate}}</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
