.gradient-custom {
    background:
        linear-gradient(rgba(66, 66, 66, 0.7),
            rgba(0, 0, 0, 0.7)),
        url('src/assets/WarehouseBG.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
}

.card-registration .select-arrow {
    top: 13px;
}

.extra-styles {
    font-size: 1.1rem;
}

.px-4 {

    padding-right: 5rem !important;
    padding-left: 5rem !important;
}

.invalid-feedback {
    display: block;
}